body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.container {
    max-width: 700px;
    width: 100%;
    background-color: #55e4d1;
    padding: 20px 30px;
    border-radius: 7px;
}

.container .title {
    font-size: 25px;
    font-weight: 500;
}

.container .optionbttn {
    font-size: 18px;
    font-weight: 500;
}

.container .contanav {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container form .user-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

form .user-details .input-box {
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}

.user-details .input-box .details{
    font-weight: 500;
    margin-bottom: 5px;
}

.user-details .input-box input{
    height: 30px;
    width: 100%;
}